aside.menu-area {
    background-color: #F5F5F5;
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

.menu a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 300;
    padding: 15px;
}

.menu a:hover {
    background: linear-gradient(to right,#F58529,#DD2A7B,#8134AF);
    color:white;
    font-size: 18px;
}


@media(max-width: 768px) {
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }

    .menu {
        height: 100%;
        justify-content: space-around;
    }
}